@font-face {
    font-family: 'Cinzel-Regular';
    src: url(/fonts/Cinzel-Medium.ttf);
}

@font-face {
    font-family: 'Cinzel-Regular-Medium';
    src: url(/fonts/Cinzel-Medium.ttf);
}

header{
    margin: 0;
    background-color: #fff;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 3;
}

.headerContent{
    margin: 0;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pass{
    margin: 0;
    background-color: #fff;
    width: 100%;
    height: 150px;
}

body{
    margin: 0;
}

.rightHeader{
    display: flex;
}

.menuButton{
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
    background-image: url(../img/menu.svg);
    background-repeat: no-repeat;
    margin-left: 10px;
}

.logo{
    position: absolute;
    margin: 20px auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 200px;
    height: 40px;
    font-size: x-large;
    letter-spacing: 1.5px;
}

.heart{
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
    background-image: url(../img/heart.svg);
    margin-right: 10px;
    background-repeat: no-repeat;
}

.heart.active{
    background-image: url(../img/activeHeart.svg);
}

.cart{
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
    background-image: url(../img/cart.svg);
    margin-right: 10px;
    background-repeat: no-repeat;
}

.cart.active{
    background-image: url(../img/activeCart.svg);
}

.profile{
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
    background-image: url(../img/profile.svg);
    margin-right: 10px;
    background-repeat: no-repeat;
}

.profile.active{
    background-image: url(../img/activeProfile.svg);
}

.search{
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
    background-image: url(../img/search.svg);
    margin-right: 10px;
    background-repeat: no-repeat;
}

.search.active{
    background-image: url(../img/activeSearch.svg);
}

.closeButton{
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
}

.text{
    height: 2000px;
}

.sticky{
    position: fixed;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.4);
    transition: all 0.5s ease-in-out;
}

.menu{
    position: fixed;
    display: block;
    width:25%;
    height:100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.menu.open{
    transform: translateX(0);
}

.buttonSpan{
    display: none;
}

button{
    background: none;
    cursor:pointer;
    border: none;
    padding: 0;
}

a{
    color: black;
    text-decoration: none;
    font-family: Cinzel-Regular-Medium, serif;
}

a::after {
    content: "";
    display: block;
    width: 100%;
    height: 1.8px;
    background-color: black;
    margin-top: 30px;
    transition: transform 0.3s ease-out;
    transform: scaleX(0);
}

a:hover::after {
    transform: scaleX(1);
}

.blockForCloseButton{
    width: 100%;
    margin-top: 20px;
    margin-left: -20px;
    display: flex;
    flex-direction: row-reverse;
}

.photoContainer {
    display: flex;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.photo {
    flex: 0 0 43%;
    margin-left: 1.2vw;
    margin-right: 1.2vw;
}

.mainPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.introduceContainer{
    display: flex;
    width: 95%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.introduceText {
    flex: 0 0 50%;
    font-size: 28px;
    font-family: Cinzel-Regular-Medium, serif;
    margin-left: 1.2vw;
    margin-right: 1.2vw;
}

.introducePhoto{
    flex: 0 0 40%;
    display: block;
    margin-left: 1.2vw;
    margin-right: 1.2vw;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


.nav-item.active{
    display: block;
    width: 100%;
    height: 1.8px;
    background-color: black;
    margin-top: 30px;
    transition: transform 0.3s ease-out;
}

.loadTime{
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: Cinzel-Regular-Medium, serif;
    font-size: 22px;
}
.loadTimeText{
    font-family: Cinzel-Regular-Medium, serif;
    font-size: 22px;
    margin-left: 5px;
    margin-right: 5px;
}
.saving-area, .loading-area {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 0 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.confirm-button, .load-button, .cancel-button, .save-button, .not-save-button{
    padding: 15px;
    margin-right: 10px;
    background-color: lightgray;
    color: black;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    opacity: 0.7;
}

.form {
    margin-top: 15px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.load-area, .save-area{
    padding: 15px;
}

main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

table{
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}

.loader{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.errorOfLoading{
    width: 200px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.commentsList{
    width: 80%;
    margin: 0 auto;
    padding: 0 10%;
}

.comment{
    height: 150px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.commentName{
    font-size: 20px;
}

.commentEmail{
    color: #555; /* Темно-серый цвет */
    margin-bottom: 10px; /* Небольшой отступ снизу */
}

.commentBody{

}

.commentsTitle{
    margin-left: 20px;
    width: 100px;
}

footer{
    background-color: #000;
    color: #fff;
    line-height: 120%;
    text-transform: uppercase;
    padding: 10vh 0;
    margin-top: 10vh;
    height: 50vh;
    bottom: 0;
    left: 0;
    width: 100%;
}

.slider {
    position: relative;
    width: 75vw;
    height: 80vh;
    margin: 10vh auto 10vh auto;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

}

.list .item {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    display: flex; /* Добавлено для центрирования содержимого */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    padding-bottom: 20px;
    position:relative;
}

.list img {
    width: 100%;
    object-fit: fill;
    transition: transform 0.4s ease-in-out; /* добавляем анимацию */
}

.list a{
    width: 100%;
}

.list img:hover {
    transform: scale(1.1); /* увеличиваем размер при наведении на картинку */
}

.buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
}

.buttons button {
    font-size: 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.buttons button:hover {
    transform: scale(1.2); /* Увеличиваем размер при наведении на кнопку */
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-family: Cinzel-Regular-Medium, sans-serif;
    text-align: center;
    z-index: 2;
    transition: transform 0.4s ease-in-out;
}

#prev {
    margin-left: 20px;
}

#next {
    margin-right: 20px;
}



